.header-links {
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	width: 100%;
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	transition: all ease 0.1s;
	display: inline-block;
	width: 35%;
	color: black;
	justify-content: space-between;
	left: 0;
	right: 0;
}

.header-links ul li {
	position: relative;
	padding: 12px 7px;
	text-align: center;
	background-color: white;
}
.header-black ul li a {
	color: #000;
}
.header-links ul li a {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-size: 13.4px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	text-decoration: none;
}
.header-container {
	width: 100%;
	padding-top: 40px;
	z-index: 9998;
}
.header-links ul {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
}
.header-links-left {
	position: relative;
	padding: 0 15px;
}
.header-link-toggle {
}
.header-link-toggle-anchor {
	color: black;
}
.header-link-dropdown {
	display: none;
	min-width: 100% !important;
	top: 44px;
	left: 0;
	z-index: 9999;
	position: absolute;
	background-color: rgba(200, 200, 200, 0.7);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.img-responsive {
	width: 60%;
	margin-left: 19%;
}
.header-logo {
	display: inline-block;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 24%;
	max-inline-size: 135px;
	text-align: center;
}
